span.label {
    color:rgba(0,0,0,.54);
    width:70px;
    margin-right:15px; 
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
 min-width: 50px!important;
 padding: 3px!important;
 margin: 3px!important;
}

.mat-drawer-container{
    background-color: white;
}

/* ツールバー*/
mat-toolbar-row {
    background-color: white;
    border-bottom: 1px solid rgba(155,155,155,.57);
}

span.sideMenu {
    padding-left: 15px;
    width:130px;
}

button.sideMenu {
    right: -15px;
}
mat-divider.sideMenu{
    width:95%;
}

/* サイドエリアのスタイル */
.left-drawer {
  width: 245px;
  border: none;
}

/* 新規登録ボタン */
.addButton {
    margin: 12px;
    height:48px;
    line-height: 48px;
    width: 108.5px;
    padding-right:24px; 
    padding-left: 0;
    border-radius:24px;
}
.addButton:hover {
    box-shadow: 
        0 1px 3px 0 rgba(60,64,67,0.302),
        0 4px 8px 3px rgba(60,64,67,0.149)
}

.addIcon {
    vertical-align: middle;
    display:block;
    height:48px;
    line-height: 48px;
    min-width: 56px;
    font-size: 40px;
    color: #29A7E1;
}
.addText{
    vertical-align: middle;
    display:block;
}

/* 検索エリア*/
.search {
    height: 70%;
    background-color: #f1f3f4;
    padding: 0;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 
                0px 0px 0px 0px rgba(0, 0, 0, 0),
                0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.search:hover {
    background-color: white;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.search > input {
    height:100%; 
    width:100%; 
    background-color: #f1f3f4;
    border:none;
    outline:none;
	display: table;
	margin: auto;
}

.search:hover mat-icon,
.search:hover input {
    background-color: white;
}
.search > button {
    height:30px;
 	display: table;
	margin: auto;
}

.searchIcon {
 	display: table;
	margin: auto;
}

/* 年度検索 */
.selectBizYear {
    height:70%;
    line-height: 42px !important;
    padding-left: 6px;
    padding-right:6px;
    color: rgba(0,0,0,.66);
    font: 400 15.3333px Arial;
    background-color: #f1f3f4;
    border-radius:4px;
    transition: background-color 100ms linear;
    box-sizing:border-box;
    justify-content: center;
}

/* ユーザー情報表示*/
button.operaterIcon {
   background-color: transparent;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.toolTipOperator {
    font: 400 15.3333px Arial;
}

.operaterBackDrop {
    background-color: transparent;
}

/* コンテンツエリア */
.contents {
    height: 75vh;
    overflow: auto;
}

table {
  width: 100%;
}

/* スピナー設定 */
.loading {
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding-top:100px;
}

/* 行選択時のスタイル */
tr.mat-row:hover{
    cursor: pointer;
    box-shadow: inset 1px 0 0 #dadce0, 
                inset -1px 0 0 #dadce0,
                    0 1px 2px 0 rgba(60,64,67,.3),
                    0 1px 3px 1px rgba(60,64,67,.15);
    background-color: rgba(0,0,0,.04)
}

.col-number {
    text-align: right;
    padding-right: 16px;
}